<div class="flex flex-col items-center justify-center py-20">
  <img src="images/payment-success/undraw_successful-purchase_p2fz.svg" alt="Successful purchase Illustration" class="max-h-70 m-auto mb-10" loading="lazy">
  <h1 class="text-center font-bold md:text-3xl text-2xl mb-2">Payment Successful</h1>
  <h2 class="text-center font-medium md:text-xl text-base mb-8">Thank you for checking out my project!</h2>
  <app-custom-button rout
  
  routerLink="/" [label]="'Go home'"></app-custom-button>
</div>